:root{
    --bg-color: #f5f5f5;
    --card-bg-color: white;
    --text: #555555;
    --shadow: rgb(0,0,0,0.2);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:  var(--bg-color);
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;

}

.container{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    justify-content: space-evenly;
}

.card{
    background-color: var(--card-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow);
    text-align: center;
    padding: 20px;
    cursor: pointer;
    overflow: hidden;
    transition:  ease-in-out 0.5s;
}

.card:hover{
    transform: scale(1.05);
}